<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type = 'text/css' href="Static/css/style_error.css">
    <link rel="stylesheet" type = 'text/css' href="Static/css/Grid.css">
    <link rel="stylesheet" type = 'text/css' href="Static/css/ionicons.min.css">
    <link rel="stylesheet" type = 'text/css' href="Static/css/queries.css">
    <link rel="stylesheet" type = 'text/css' href="Static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
    <title>Invalid URL</title>
  </head>
  <body>
    <nav class=nav-pane>
      <div class="row">
        <h1 id="logo">ONEDEAL</h1>
        <a id="home" href="{{url_for('Index')}}">Go to Home Page</a>
      </div>
    </nav>
    <section class='section-error'>
      <div class="error-result">
        <div class="row">
          <h2>Oh Oh!</h2>
          <h3>Seems you came to the wrong place</h3>
          <br>
          <p>Please type the name of a valid page or recheck the page webpage name</p>
        </div>
    </div>
    </section>


  </body>
</html>
